/* CSS RESET */
* {
    padding: 0;
    margin: 0;
}

/* REGOLE GENERALI */
body {
    background-color: #0d0d0d;
    color: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, a, h3 {
    font-family: "Roboto", sans-serif;
}


h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    color: #00f0ff;
    text-shadow: 0 0 4px #00f0ff;
}

h1, h2 {
    transition: text-shadow 1s;
}

h1:hover {
    text-shadow: 0 0 6px #09bcc9, 
    0 0 12px #09bcc9, 
    0 0 18px #09bcc9;
}

h2 {
    font-size: 2rem;
    color: #ff4de1; 
}

ul {
    list-style-type: none;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
}

a {
 text-decoration: none;
 color: #e0e0e0;
}

ul a {
    margin-right: 20px;
    font-family: 1.5rem;
    transition: color 0.3s, text-shadow 0.3s;
}


/* BARRA DI NAVIGAZIONE */
header {
    background-color: #141414;
    height: 70px;
    padding-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

a.active {
    color: #00f0ff;
    text-shadow: 0 0 4px #09bcc9, 0 0 8px #00f0ff;
}

a:hover {
    color: #e0e0e0;
    text-shadow: 0 0 4px #e0e0e0, 0 0 8px #e0e0e0;;
}


/* PAGINA INIZIALE */
.home-wrapper {
    width: 70%;
    height: 80vh;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* ABOUT */
.about-wrapper {
    width: 40%;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px #ff00ff, 0 0 30px #ff00ff;
    min-height: 100px;
    margin: 100px auto;

}

p, span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

/* CARD */


.row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    width: 15%; 
    border-radius: 12px;
    min-height: 400px;  
    margin: 10px;
    padding: 15px;
    background-color: rgba(30, 30, 30, 0.9);
    transition: transform 0.2s, box-shadow 0.2s;
}

.column:hover {
    transform: translateY(5px);
    box-shadow: 0 0 15px #00f0ff, 0 0 30px #09bcc9;
}

.column img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.img-wrapper {
    height: 200px;
    margin-bottom: 20px;
}

span {
    font-size: 1.2rem;
    display: block;
    padding-top: 10px;
}

.item-rate {
    font-size: 0.9rem;
    color: #00F5D4;
}

.item-price {
    font-weight: bold;
    color: #00f0ff;
    font-size: 1.1rem;
}

.item-title {
    color: #ff00ff;
}

.item-description, p {
    color: #e0e0e0;
}

.products-container a {
    display: block;
    padding-top: 25px;
    font-size: 1rem;
    font-weight: bold;
}

/* DETTAGLI CARD */
.detail-wrapper {
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 0 15px #00f0ff, 0 0 30px #09bcc9;
    height: 400px;
    margin: 50px auto;
    display: flex;
}

.column-left {
    width: 50%;
    padding: 15px;
}

.column-right {
    width: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.column-left img {
    margin: 20px auto;  
    max-height: 100%;  
    max-width: 100%;
    transform: translateY(50px);
}

.column-right h2 {
    text-align: center;
}

.column-right p {
    font-size: 1.2rem;
}

